body {
  background-color: beige;
}
header {
  position: relative;
  text-align: center;
  border-bottom: 1px solid black;
}
.page-title {
  display: inline-block;
  text-align: center;
  width: 40%;
  color: maroon;
  background-color: gold;
  border-radius: 15px;
}
.home {
  display: block;
  position: absolute;
  left: 5px;
  top: -1px;
  font-size: 18px;
  padding: 0px;
}
#profile {
  width: 50px;
  height: auto;
}
a {
  text-decoration: none;
  font-size: 20px;
}
nav {
  display: flex;
  flex-direction: column;
  /* justify-content: left; */
}
li {
  list-style-type: none;
}
.nav {
  margin-top: 25px;
  margin-left: 5px;
}

footer {
display: flex;
position: fixed;
bottom: 0;
background-color: lightgray;
width: 100%;
left: 0;
justify-content: center;
}
.social {
  display: inline;
  list-style-type: none;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  align-items: center;
}
.social-icon {
  width: 40px;
  height: auto;
}
section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 120px;
  margin-right: 120px;
}
article {
  background-color: maroon;
  color: white;
  margin-top: 10px;
  padding: 10px;
  border-radius: 25px;
}



#slides-title {
  text-align: center;
}
.slides-container {
	width: 60%;
	display: flex;
	justify-content: space-evenly;
  align-content: center;
  margin-left: 200px;
  margin-right: 200px;
}
.project-screenshots {
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
}
.screenshots {
	width: 100%;
	background: #9e9696;
	padding: 10px;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 2px 2px #000000;
}
img {
	width: 50%;
	border-radius: 10px;
	display: none;
}
.nextbtn .previousbtn {
	align-self: center;
	background-color: maroon;
	color: gold;
	padding: 10px;
	border-radius: 50%;
	text-align: center;
	box-shadow: 1px 1px #000000;
}
img:first-of-type {
	display: block;
}